*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dee0e3;
}

/* logo styling */


.logop{
    font-size: 30px;
    margin-top: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;

    
}
.logop{
    color: rgb(255, 145, 0);
    margin-left: 4px;


}
ul li{
    /* margin: 5px; */
    border-radius: 30px;
    
}

ul li:hover{
    background-color: rgba(141, 209, 236, 0.541);
   

}


.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: black;
   
}
.carousel-caption p{
    width: 50%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color: black;

    
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0,7);
    z-index: 1;
}

.head1{
    color: black;
    text-shadow: 3px 4px 5px pink;}
.navbar-naz a{
    font: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.nav-light .nav-brand{
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.nav-light .nav-brand:focus,
.nav-light .nav-brand:hover{
    color: black;
}
.nav-light .navbar-naz .navbar-link{
    color: black;

}
w-100{
    height: 100vh;
}


/* responsive */
@media only screen and (max-width:1024px){
    .carousel-item img{
        height: 100vh;
}
}

@media only screen and (max-width:767px){
    .navbar-naz{
        text-align: center;
    }
    .carousel-caption{
        bottom: 70px;
    }
    .carousel-caption h5{
        
        font-size: 32px
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{

        padding: 10px 15px;
    }
    .carousel-item img{
        height: 100vh;
    }
    
}

/* footer styling  full responsive footer and we made   social link hover  & also social icon hover*/

.footer .btn.btn-social {
    margin-right: 10px;
    width: 30px;
    height: 35px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    border-radius: 35px;

    padding: 10px;
   
}



.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    /* padding: 10px; */
    
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
   
    
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    background-color: rgba(255, 115, 0, 0.897);
}



/* end footer styling */
